@charset "UTF-8";
	*{margin: 1px;}	
	header {font-size:20pt; background-color: blue; color: white; text-align: center; padding: 20px 0;}
	nav {background-color: gray; color: white; margin: auto;}
	nav li{ padding: 0 40px; display: inline;}
	nav ul {list-style: none; position: relative; margin: 0; padding: 0;}
	li a{text-decoration: none; color:white; }
	nav a:visited {color: white; }
	section{background-color: gray; height: 800px;}
	section h3{text-align: center;}
	table{border-color: black;}
	h2{padding: 30px;}
	a{text-decoration: none; color:black;}
	a:visited {text-decoration: none; color:black; }
	footer{width:100%; height:40px; text-align:center; bottom: 0; 
	background-color: blue; color: white;}	